html{
    overflow-x: hidden;
}
.btn{
    margin-top: 10px;
}

.btn-search{
    padding-right: 24px;
}

.drop-admin a{
    margin: 0 10px;
}

.dropdown-item{
    width: 87%;
}

.btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: #a2113c; 
    --bs-btn-border-color: #a2113c; 
    --bs-btn-hover-color: #fff; 
    --bs-btn-hover-bg: #a2113c; 
    --bs-btn-hover-border-color: #a2113c; 
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #a2113c; 
    --bs-btn-active-border-color: #a2113c; 
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #a2113c;
    --bs-btn-disabled-border-color: #a2113c;
}

.btn-primary,
.btn-outline-success {
    background-color: #a2113c;
    border: none;
    color: white;
}

.btn-primary:hover,
.btn-outline-success:hover{
    background-color: #71102d;
    border: none;
    color: white;
}

#administracao {
    background-color: #a2113c;
}

#administracao img {
    border-radius: 45px;
    width: 65px;
    height: 65px;
    object-fit: cover;
}

#minhas-apostas img {
    border-radius: 45px;
    width: 45px;
    height: 45px;
    object-fit: cover;
}

#minhas-apostas .palpite {
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

#administracao .card {
    width: 100%;
    height: auto;
}

#administracao .time {
    width: 70px;
}

#administracao input {
    width: 60px;
    font-size: x-large;
    height: 40px;
    padding: 10px;
}

.navbar-brand {
    font-weight: 800;
    font-size: 1.75rem;
}

.titulo {
    color: white;
}

#rodape {
    height: 100px;
}
.admin-p{
    color: white;
}